<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
  <div *ngIf="held; else noHeld">

    <div *ngIf="gruppe; else noGruppe">
      <div class="ui-grid-row">
        Der Held {{held.name}} ist der Gruppe {{gruppe}} zugeordnet. Soll der Held gespeichert werden?
      </div>

    </div>
    <ng-template #noGruppe>
      <div class="ui-grid-row">
        Der Held {{held.name}} existert noch nicht in der Datenbank. Bitte wähle eine Gruppe für den Helden.
      </div>
      <div class="ui-grid-row">
        <p-dropdown [options]="gruppen" [(ngModel)]="gruppe"></p-dropdown>
      </div>
    </ng-template>
    <div class="ui-grid-row">
      Bitte gib das Passwort für deinen Helden ein. Es ist möglich dieses Feld leer zu lassen falls dein Held bisher kein Passwort besitzt
    </div>
    <div class="ui-grid-row">
      <input type="password" pInput [(ngModel)]="password" (keydown.enter)="saveHeld()" />
    </div>

    <div class="ui-grid-row">
      <button (click)="saveHeld()" [disabled]="!gruppe">Speichern</button>
    </div>

  </div>
  <ng-template #noHeld>
    Kein Held geladen. Bitte lade deinen Helden über Held laden
  </ng-template>
</div>
