
<table>
  <tr>
    <td *ngFor="let attribut of getMainAttributes()">
      {{attribut.shortcut}} {{attribut.value}}
    </td>
  </tr>

  <tr>
    <td colspan="10" class="noborder">Name : {{held.name}}</td>
  </tr>
  <tr>
    <td colspan="5" class="noborder">Rasse : {{held.rasse}}</td>
    <td colspan="5" class="noborder">Kultur : {{held.kultur}}</td>
  </tr>
  <tr>
    <td colspan="10" class="noborder">Profession : {{held.profession}}</td>

  </tr>
  <tr >
    <td class="noheight" colspan="10"></td>
  </tr>
  <tr>
    <td colspan="5" class="noborder">Geschlecht: {{held.geschlecht}}</td>
    <td colspan="5" class="noborder">Geburtsdatum : {{held.getGeburtstag()}}</td>
  </tr>
  <tr>
    <td colspan="5" class="noborder">Größe: {{held.groesse /2}} Finger ({{held.groesse}} cm)</td>
    <td colspan="5" class="noborder">Gewicht: {{held.gewicht}} Stein</td>
  </tr>
  <tr>
    <td colspan="5" class="noborder">Haarfarbe: {{held.aussehen.haarfarbe}}</td>
    <td colspan="5" class="noborder">Augenfarbe: {{held.aussehen.augenfarbe}}</td>
  </tr>
  <tr>
    <td colspan="5" class="noborder">Stand: {{held.aussehen.stand}}</td>
    <td colspan="5" class="noborder">Titel : {{held.aussehen.titel}}</td>
  </tr>

</table>

<input type="text" [(ngModel)]="filter" (ngModelChange)="filterChanged()" (keyup.enter)="onEnter()" #input/>
<div class="row"></div>
<div class="col-sm-12 col-lg-6">
  <div *ngIf="filteredTalente.kampftalente.length>0">
    <h5>Kampftalente</h5>
    <table>
      <tr>
        <td>Name</td>
        <td>BE</td>
        <td>AT</td>
        <td>PA</td>
        <td>TAW</td>
        <td>eTaw</td>
      </tr>
      <tr *ngFor="let talent of filteredTalente.kampftalente">
        <td>{{talent.name}}</td>
        <td>{{talent.be}}</td>
        <td>{{talent.at}}</td>
        <td>{{talent.pa}}</td>
        <td>{{talent.taw}}</td>
        <td>{{talent.eTaw}}</td>
      </tr>
    </table>

  </div>
  <div *ngIf="filteredTalente.sprachen.length>0">
    <h5>Sprachen</h5>
    <table>
      <tr>
        <td>Name</td>
        <td>Komplexität</td>
        <td>Wert</td>
      </tr>
      <tr *ngFor="let talent of filteredTalente.sprachen">
        <td>{{talent.name}}</td>
        <td>{{talent.komplexitaet}}</td>
        <td>{{talent.value}}</td>
      </tr>
    </table>

  </div>
  <div *ngIf="filteredTalente.schriften.length>0">
    <h5>Schriften</h5>
    <table>
      <tr>
        <td>Name</td>
        <td>Komplexität</td>
        <td>Wert</td>
      </tr>
      <tr *ngFor="let talent of filteredTalente.schriften">
        <td>{{talent.name}}</td>
        <td>{{talent.komplexitaet}}</td>
        <td>{{talent.value}}</td>
      </tr>
    </table>

  </div>

</div>
<div class="col-sm-12 col-lg-6" *ngIf="filteredTalente.talente.length>0">
  <h5>Talente</h5>
  <table>
    <tr>
      <td>Name</td>
      <td>Kategorie</td>
      <td>Behinderung</td>
      <td>Probe</td>
      <td>Wert</td>
      <td>ETaw</td>
    </tr>
    <tr *ngFor="let talent of filteredTalente.talente">
      <td>{{talent.name}}</td>
      <td>{{talent.kategorie}}</td>
      <td>{{talent.be}}</td>
      <td>{{talent.probe}}</td>
      <td>{{talent.value}}</td>
      <td>{{talent.eTaw}}</td>
    </tr>

  </table>
</div>
<!--
<p-dataTable [value]="held.talente.kampftalente">
  <p-column field="name" header="Name" ></p-column>
  <p-column field="be" header="BE" [style]="{width:'100px'}"></p-column>
  <p-column field="at" header="AT" [style]="{width:'50px'}"></p-column>
  <p-column field="pa" header="PA" [style]="{width:'50px'}"></p-column>
</p-dataTable>

<p-dataTable [value]="held.talente.talente">
  <p-column field="name" header="Name" ></p-column>
  <p-column field="kategorie" header="kategorie" ></p-column>

  <p-column field="probe" header="Probe" [style]="{width:'200px'}"></p-column>
  <p-column field="be" header="BE" [style]="{width:'100px'}"></p-column>
  <p-column field="value" header="Wert" [style]="{width:'50px'}"></p-column>
</p-dataTable>
<h3>Sprachen</h3>
<p-dataTable [value]="held.talente.sprachen">
  <p-column field="name" header="Name" ></p-column>
  <p-column field="komplexitaet" header="Komplexitaet" [style]="{width:'100px'}"></p-column>
  <p-column field="value" header="Wert" [style]="{width:'50px'}"></p-column>
</p-dataTable>
<h3>Schriften</h3>
<p-dataTable [value]="held.talente.schriften">
  <p-column field="name" header="Name" ></p-column>
  <p-column field="komplexitaet" header="Komplexitaet" [style]="{width:'100px'}"></p-column>
  <p-column field="value" header="Wert" [style]="{width:'50px'}"></p-column>
</p-dataTable>

-->
