<!--
<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
  <div class="ui-grid-row">
    <div class="ui-grid-col-4 pars">name</div>
    <div class="ui-grid-col-2 pars">Lep | maxLep</div>
    <div class="ui-grid-col-1 pars">ini</div>
    <div class="ui-grid-col-1 pars">rs</div>
    <div class="ui-grid-col-2 pars">ausweichen</div>
  </div>
  <div class="ui-grid-row">
    <div class="ui-grid-col-4 pars">Attacke-Name</div>
    <div class="ui-grid-col-1 pars">AT</div>
    <div class="ui-grid-col-4 pars">Schaden</div>
  </div>
</div>


-->
<app-display-kampf-member *ngFor="let member of data.teilnehmer; let i = index" [teilnehmer]="member" [active]="data.current==i">

</app-display-kampf-member>

<input type="text" *ngIf="!readonly" pInputText [(ngModel)]="command" (keydown.enter)="onCommandEnter()" (keydown.Tab)="onCommandTab()">

<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
  <div class="ui-grid-row" *ngFor="let command of getCommands()">
    {{command.getDescription()}}
  </div>
</div>
