
<div class="container">
  <div *ngIf="kampf">
    <app-display-kampf [teilnehmer]="kampf"></app-display-kampf>
    <div class="">
      <button pButton (click)="kampfBeenden()">Kampf beenden</button>
    </div>
  </div>

  <div *ngIf="!kampf">
    <h5>Es wurde noch kein Kampf konfiguriert.</h5>
    <div class="row">
      <button (click)="neuerKampf()" class="btn btn-success">Neuen Kampf erstellen</button>

    </div>
    <div class="row">
      <button (click)="kampfLaden()" class="btn btn-success">Kampf laden</button>

    </div>

  </div>

  <app-create-kampf [visible]="displayCreate" (kampfLoaded)="kampfLoaded($event)"></app-create-kampf>
  <app-load-kampf [visible]="displayLoad" (dialogClosed)="loadKampfDialogClosed()" (kampfLoaded)="kampfLoaded($event)"></app-load-kampf>

</div>


